<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4" th:text="#{fo.get}"></h5>
                <p class="mb-4" th:text="#{fo.content}"></p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>[[#{fo.address}]]</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4" th:text="#{fo.quick}"></h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.home}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.our}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.shop}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.detail}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.checkout}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary" href="#" th:text="#{fo.contact}"><i class="fa fa-angle-right mr-2"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4" th:text="#{fo.account}"></h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.home}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.our}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.shop}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.detail}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary mb-2" href="#" th:text="#{fo.checkout}"><i class="fa fa-angle-right mr-2"></i></a>
                            <a class="text-secondary" href="#" th:text="#{fo.contact}"><i class="fa fa-angle-right mr-2"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4" th:text="#{fo.new}"></h5>
                        <p th:text="#{fo.new}"></p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" th:attr="placeholder=#{fo.youremail}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" th:text="#{fo.signup}"></button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3" th:text="#{fo.follow}"></h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>[[#{fo.end}]]
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="/img/payments.png" alt="">
            </div>
        </div>
</body>
</html>